importClassesFrom(Biostrings, DNAString, DNAStringSet) 
importClassesFrom(ShortRead, ShortReadQ) 
importFrom(IRanges, subseq, width) 
importFrom(Biostrings, DNAStringSet, quality, read.DNAStringSet) 
importFrom(ShortRead, countLines, readFastq) 
importFrom(graphics, hist) 
importFrom(methods, is) 
importFrom(stats, convolve, dbeta, dgamma, dnbinom, dnorm, fft, nextn, pnbinom, runif)
importFrom(utils, relist)

S3method(print, SimulatedExperiment)
S3method(print, SimulatedFeature)
S3method(summary, SimulatedExperiment)
S3method(reconcileFeatures, NucleosomePosition)
S3method(featureDensity, StablePhasedFeature)
S3method(featureDensity, ReversePhasedFeature)
S3method(featureDensity, StableFeature)
S3method(featureDensity, NFRFeature)
S3method(featureDensity, FuzzyFeature)

exportPattern("^[[:alpha:]][[:alnum:]]*$")
